---
layout: default
---

{% assign issues = 'https://github.com/irnc/irnc.github.com/issues' %}
{% capture new_issue_url %}
  {{ issues }}/new?title=Comments: {{ page.title }}
{% endcapture %}

<h1>
  {{ page.title }}
</h1>
<span>
  Note started on: {{ page.date | date_to_string }}
</span>

<div class="content">
  {{ content }}
</div>

<hr />

Can you help with this post?

{% if page.issue %}
  Comment on an <a href="{{ issues }}/{{ page.issue }}">attached issue</a>
  or <a href="{{ new_issue_url }}">create a new one</a>.
{% else %}
  <a href="{{ new_issue_url }}">Create an issue</a> on the issue tracker.
{% endif %}
